/**
 * @name Astolfo Theme By Zitic
 * @author Zitic
 * @version 1.0
 * @description Femboys :3 (ClearVision Base)
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://tinyurl.com/BioLinkZitic
*/

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --main-color: #FFB6C1; /* pastel pink */
  --hover-color: #000000;
  --success-color: #000000;
  --danger-color: #FFB6C1; /* pastel pink */
  --url-color: #FFB6C1; /* pastel pink */
  --background-image: url('https://files.catbox.moe/a5te91.gif');
  --background-shading: 48%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 123%;
  --background-contrast: 100%;
  --background-saturation: 111%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://files.catbox.moe/zxkv3h.gif');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 72%;
  --user-popout-contrast: 135%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 0px;
  --user-modal-image: url('https://files.catbox.moe/zxkv3h.gif');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://i.pinimg.com/originals/b6/7a/04/b67a04cb0724821b0d1f261f2fc39fa7.gif');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #C600FF;
  --channel-color: rgb(194,0,0,0.99);
  --muted-color: rgb(83,75,75,1);
  --online-color: #00DB2F;
  --idle-color: #FFE500;
  --dnd-color: #FFB6C1; /* pastel pink */
  --streaming-color: #593695;
  --offline-color: #000000;
  --main-font: Handjet;
  --code-font: Orbitron;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --HSL-server-icon-size: 32px;
  --HSL-server-spacing: 20px;
}

/* Any custom CSS below here */
